[submodule "utils/external/pargeo"]
	path = utils/external/pargeo
	url = git@github.com:ParAlg/ParGeo.git
[submodule "utils/external/parlaylib"]
	path = utils/external/parlaylib
	url = git@github.com:cmuparlay/parlaylib.git
[submodule "utils/external/xxHash"]
	path = utils/external/xxHash
	url = git@github.com:Cyan4973/xxHash.git
